@import '../../variables.scss';

.Weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  &__description {
    display: grid;
    align-items: center;
    justify-items: center;

    & p:first-child {
      font-size: 2.5rem;
    }
  }

  &__misc {
    display: grid;
    align-items: center;
    justify-items: center;

    & span.icon {
      font-size: 5rem;
    }
  }
}

.icon {
  font-size: 4rem;
  // color: #fff;
  // text-shadow: 1px 1px 1px #212121;
}
