@import './variables.scss';

body {
  // background-color: rgba(248, 255, 174, 0.25);
}

.App {
  &__header {
    position: relative;
    width: 290px;
    height: 70px;
    margin: 36px auto 8px;
  }

  &__title-city {
    position: absolute;
    font-family: $font-family-serif;
    font-size: 5rem;
    font-weight: 100;
    line-height: 100%;
    color: $try-color;
  }

  &__title-compare {
    position: absolute;
    left: 29%;
    top: 21%;
    font-family: $font-family-default;
    font-size: 5rem;
    line-height: 100%;
  }

  &__cityWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 2rem;
    // overflow: hidden;
  }
}
