$font-family-default: 'Lato', sans-serif;
$font-family-serif: 'Palatino', serif;
$default-font-size: 1.6rem;
$border-radius: 3px;

$primary-color: #9ac2c9; // cyan,
$secondary-color: #efe7da; // light yellow fef73b
$try-color: #e55812; // orange
$off-white-color: #fdfdfd;
$text-color: #282c34;
$dark-color: #36424b;
