$font-family-default: 'Jura', sans-serif;
$default-font-size: 1.6rem;
$border-radius: 3px;

$primary-color: #9ac2c9; // cyan,
$secondary-color: #fef73b; // light yellow
$off-white-color: #fdfdfd;
$text-color: #282c34;
